# shell install scripts
**/*.run

# .NET objects
obj/
bin/

**/*.runtimeconfig.json
**/*.il
**/*.dll
**/*.exe
**/*.exe.mdb
**/*.vsix
**/.build.rsp
.assemblies.json
nupkg/**/*
output.txt

tests/TestResults/