# shell install scripts
**/*.run

# .NET objects
obj/
bin/

**/*.runtimeconfig.json
**/*.il
**/*.dll
**/*.exe
**/*.exe.mdb
**/*.vsix
**/.build.rsp
.assemblies.json
nupkg/**/*
output.txt

tests/TestResults/

actual-output
integration-tests/**/failed
integration-tests/**/*.out
integration-tests/**/*.grep
integration-tests/**/*.diff
integration-tests/**/*.sort
integration-tests/**/*.err
